{%- from "aptly/map.jinja" import server with context -%}
{%- if server.source.engine == 'docker' -%}
    {%- set command="/usr/local/bin/aptly" -%}
{%- else -%}
    {%- set command="/usr/bin/aptly" -%}
{%- endif -%}
[Unit]
Description=Aptly API server
Requires=network-online.target
After=network.target

[Service]
User=aptly
EnvironmentFile=/etc/default/aptly-api
ExecStart={{ command }} api serve -listen=${LISTEN_HOST}:${LISTEN_PORT} -no-lock
Restart=on-failure

[Install]
WantedBy=multi-user.target
