
{%- set server = salt['grains.filter_by']({
  'Debian': {
    'source': {
      'engine': 'pkg',
      'pkgs': ['aptly', 'bzip2'],
    },
    'home_dir': '/var/lib/aptly',
    'root_dir': '/srv/aptly',
    'secure': True,
    'repo': {},
    'gpg': {
      'keypair_id': '',
      'passphrase': '',
      'keyring': 'trustedkeys.gpg',
      'keyserver': 'keys.gnupg.net',
    },
  },
}, merge=salt['pillar.get']('aptly:server')) %}

{# Backward compatibility #}
{%- if server.gpg_keypair_id is defined %}
{%- do server.update({'gpg': {'keypair_id': server.gpg_keypair_id}}) %}
{%- endif %}
{%- if server.gpg_passphrase is defined %}
{%- do server.update({'gpg': {'passphrase': server.gpg_passphrase}}) %}
{%- endif %}

{%- set publisher = salt['grains.filter_by']({
  'default': {
    'source': {
      'engine': 'pkg',
      'pkgs': ['aptly-publisher'],
    },
  },
}, merge=salt['pillar.get']('aptly:publisher')) %}
