
{%- set server = salt['grains.filter_by']({
  'Debian': {
    'pkgs': ['aptly', 'bzip2'],
    'home_dir': '/var/lib/aptly',
    'root_dir': '/srv/aptly',
    'secure': True,
    'repo': {},
    'gpg_keypair_id': '',
    'gpg_passphrase': ''
  },
}, merge=salt['pillar.get']('aptly:server')) %}

{%- set publisher = salt['grains.filter_by']({
  'default': {
    'source' {
      'engine': 'pkg',
      'pkgs': ['aptly-publisher'],
    },
  },
}, merge=salt['pillar.get']('aptly:publisher')) %}
