
{%- set server = salt['grains.filter_by']({
  'Debian': {
    'source': {
      'engine': 'pkg',
      'pkgs': ['aptly', 'bzip2', 'cron'],
    },
    'home_dir': '/var/lib/aptly',
    'root_dir': '/srv/aptly',
    'secure': True,
    'repo': {},
    'gpg': {
      'keypair_id': pillar.aptly.get('server', {}).gpg_keypair_id|default(''),
      'passphrase': pillar.aptly.get('server', {}).gpg_passphrase|default(''),
      'public_key': pillar.aptly.get('server', {}).gpg_public_key|default(''),
      'private_key': pillar.aptly.get('server', {}).gpg_private_key|default(''),
      'keyring': 'trustedkeys.gpg',
      'homedir': None,
      'keyserver': 'keys.gnupg.net',
    },
    'user': {
      'name': 'aptly',
      'group': 'aptly',
    },
  },
}, merge=salt['pillar.get']('aptly:server')) %}

{%- set publisher = salt['grains.filter_by']({
  'default': {
    'source': {
      'engine': 'pkg',
      'pkgs': ['aptly-publisher'],
    },
  },
}, merge=salt['pillar.get']('aptly:publisher')) %}
